Flask==3.0.0
langchain==0.1.20
langchain-openai==0.1.6
langchain-community==0.0.38
langchain-xai==0.2.0
PyPDF2==3.0.1
pdfplumber==0.10.3
sentence-transformers==2.7.0
huggingface-hub==0.23.0
faiss-cpu==1.7.4
Flask-SQLAlchemy==3.1.1
numpy==1.24.3
openai==1.35.0
transformers==4.40.0
pydantic==2.7.0


